<!DOCTYPE html>
<html>
<head>
  <title>Upload xlsx file</title>
        <link href="https://appstack.bootlab.io/css/light.css" rel="stylesheet">
    <link class="js-stylesheet" href="https://appstack.bootlab.io/css/light.css" rel="stylesheet">
</head>
<body>
  <h1>Upload xlsx file</h1>
  
  <form action="/rate/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="file" accept=".xlsx">
    <input type="submit" value="Upload">
  </form>
</body>
</html>
